@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgb(195, 255, 255);
    color: black;
    font-size: 44px;
    font-family: 'Times New Roman', Times, serif;
    height: 77px;
    display: flex;
    align-items: center;
    
}
nav ul{
     list-style-type: none;
}
.gamecontainer{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.cat{
    margin-right: 10%;
    margin-top: 10%;
    height: 100%px;
}
.billitex{
    font-family: 'Protest Revolution', sans-serif;
    font-size: 90px;
}
.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Protest Revolution', sans-serif;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;

}
.box:hover{
    background-color: rgb(195, 255, 255);
    cursor: pointer;
}
.info{
    font-size: 44px;
}
.gameInfo{
    padding: 0px 34px;
    font-family: 'Protest Revolution', sans-serif; 
}
.gameInfo h1{
    font-size: 4rem;
    margin-top: 10%;
    padding-top: 10%;
}
.imgbox img{
    transition: width 1s ease-in-out;
    width: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
#reset{
  margin: 0 23px;
  padding: 1px 18px;
  border-radius: 6px;
  background-color: peachpuff;
  cursor: pointer;
  font-family: 'Protest Revolution', sans-serif; 
  font-size: 33px;
  font-weight: bolder;
}
@media screen and (max-width: 1356px)
{
.gamecontainer{
    flex-wrap: wrap;
}
.gameInfo{
    margin-top: 34px;
}
.gameInfo h1{
    font-size: 1.5rem;
}
.container{
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
   
}
.cat{
    height: 10rem;
}

}